*{
  margin: 0;
  padding: 0;
}

.contenedor{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.centrado {
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  margin: 3%;
}

nav > li {
  width: 100%;
  display: inline;
  text-align: center;
  list-style: none;
  font-size: 20px;
  border: 2px solid pink;
}

a {
  text-decoration: none;
  color: pink;
}

.backgroundFondo {
  width: 100%;
  height: 500px;
  background-image: url("../imagenes/dawn.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bienvenida {
  font-size: 100px;
  color: black;
}

.subtitulo {
  color: #d88ede;
  font-size: 50px;
  margin: 2%;
}

.parrafosConImagenes{
  justify-content: space-around;
  margin: 5%;
}

.parrafosConImagenes p {
  color: black;
  font-size: 30px;
  width: 50%;
}

.parrafosConImagenes img {
  width: 30%;
}
